<nav>
	<input type="checkbox" id="nav" class="hidden">
	<label for="nav" class="nav-btn">
		<i></i>
		<i></i>
		<i></i>
	</label>
	<div class="logo">
		<a href="https://github.com/csakou/resume/blob/master/resume.pdf">resume.pdf</a>
	</div>
	<div class="nav-wrapper">
		<ul>
			<li><a class="anchor" href="#info">Info</a></li>
			<li><a class="anchor" href="#about">About</a></li>
			<li><a class="anchor" href="#experience">Experience</a></li>
			<li><a class="anchor" href="#education">Education</a></li>
			<li><a class="anchor" href="#languages">Languages</a></li>
			<li><a class="anchor" href="#more">More</a></li>
		</ul>
	</div>
</nav>

<script>
var anchors = document.getElementsByClassName("anchor");

for (var i = 0; i < anchors.length; i++){
	anchors[i].onclick = function () {
		document.getElementById("nav").checked = false;
	}
}
</script>
