@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500,500italic,400italic,300italic,100italic,700italic);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", "FreeSerif";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover,
  button:focus, input[type="button"]:hover,
  input[type="button"]:focus, input[type="reset"]:hover,
  input[type="reset"]:focus, input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", "FreeSerif";
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.btn {
  width: 100px;
  height: 36px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: block;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border-radius: 0;
  background: #4E4E4E;
  color: #9E9E9E; 
}
.btn:focus {
  background: #DEDEDE;
  color: #4C4C4C; 
}
.btn:hover {
  background: #DEDEDE;
  color: #4C4C4C; 
}
.btn:active {
  top: 2px; 
}
.btn.disabled {
  background: #EAEAEA;
  color: #9E9E9E;
  cursor: default;
  top: 0px; 
}

body {
background: #ffffff;
font-family: Roboto, sans-serif;
-webkit-font-smoothing: antialiased; }

.center-text {
  text-align: center; }

.container{
  margin-top:30px;
}

@media(min-width:769px){
  .container {
    padding-left: 145px;
    margin-top:30px;
  }
  @media print {
    margin-top: 20px;
  }
}
@media screen and (min-width: 769px){
  nav {
    float: left;
    position: fixed;
    padding: 8px;
    width: 120px;
    height: 100%;
    background: #333;
    border-radius: 5px;
  }

  .logo {
    float: left;
    padding: 8px;
    margin-bottom: 100px;
  }

  .logo a {
    color: #f7f7f7;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
  }

  nav ul {
    float: right;
  }

  nav ul li {
    display: block;
    float: left;
    position: static;
    margin-bottom: 30px;
    padding-right: 10px;
  }

  nav ul li a {
    display: block;
    outline: none;
    color: #f7f7f7;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .logo{
    display: none;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:nth-child(5) a {
    transition-delay: 0.6s;
  }

  .nav-wrapper ul li:nth-child(6) a {
    transition-delay: 0.7s;
  }
  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }

  #nav:checked + .nav-btn {
    transform: rotate(45deg);
  }

  #nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
  }

  #nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }

  #nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
  }

  #nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }

  #nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
  }

  #nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
  }
}

.header-container {
  margin-top: 30px;

  @media(max-width:768px){
    padding-top: 60px;
    background: #efefef;
    border-radius: 20px;
  }
}


.header-right {
  text-align: right;
}

.header-left {
  margin-top: 30px;

  @media print {
    margin-top: 0px;
  }
}

.header-right p {
  font-size: 1.6em;
  text-align: right;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  img[src]:after {
    content: none !important;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    text-align: center;
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width:8.33333333%;
  }
  .col-print-12 {
    width: 100%;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}
