<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>
  {%- include guide.html -%}
  
  {%- include header.html -%}
  
  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include about.html -%}

      <!--{%- include projects.html -%}-->

      {%- include experience.html -%}

      {%- include education.html -%}

      {%- include languages.html -%}

      {%- include more.html -%}

    </div>
  </main>

  {%- include footer.html -%}
</body>

</html>
